
  <nav>
    <ul>
        <a href="{{ path('bibliotheque') }}">Accueil</a>    
          <a href="{{ path('bibi_livre') }}">Livres </a>     
          <a href="{{ path('bibi_contact') }}">Contact </a>     
          <a href="{{path('bibi_apropos')}}">A propos</a>   
          <a href="{{ path('bibi_documentation') }}">Documentation</a>     
          <a href="{{ path('bibi_location') }}">Les Locations</a> 
          <a href="{{ path('bibi_user') }}">Profil</a> 
          <a href="{{ path('bibi_administration') }}"> Adminstration</a> 
          <a href="{{ path('bibi_connexion') }}"> Connexion</a>     
          <a href="{{ path('bibliotheque') }}"> Deconnexion</a>     
        
        </ul>
  </nav>
  